<%- include("../includes/header.ejs", {title:"Add New Doctor"}); %>
<h1>Add New Doctor</h1>
<form action="/Doctor/insert" method="get">
    Doctor Name: <input id="Doctor_name" name="Doctor_name" type="text" />
    <br />
    <br />
    Doctor
    <br />
    <select id="DID" name="DID" multiple="multiple">
        <% for(var i=0; DID > i; i++ ) { %>
        <option value="<%= Doctor[i].DID %>"></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#DID').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>