<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %><%= subtitle %></p>
  </body>
  <br /><a href="/AboutPage.html">About Page</a>
  <br /><a href="/patient_dal.js">Patients</a>
  <br /><a href="/doctor_dal.js">Doctor</a>
  <br /><a href="/nurse_dal.js">Nurse</a>
  <br /><a href="/room_dal.js">Room</a>
  <footer>
      <p>Posted by: Jacob Hurt</p>
  </footer>
</html>
